* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;


}

nav {
    width: 7.5vw;
    min-width: 100px !important;
    height: 100vh;
    padding-top: 10px;
    background-color: white;

    display: inline-block;
    float: left;
    position: fixed;
    z-index: 99;
}

nav ul {
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    height: 50px;
    margin-top: 70px;
    transform: rotate(270deg);
    font-size: 16px;
    font-family: Europa, sans-serif;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    color: rgba(146, 136, 136, .4);
    cursor: pointer;
}

nav ul li {
    color: rgba(146, 136, 136, .4);
    text-decoration: none;
    font-weight: bold;
}

nav ul li.active {
    color: rgba(0, 0, 0, .8);
}

nav ul li:nth-child(1) {
    color: rgb(70, 70, 70);
    text-decoration: none;
}

nav ul li:hover {
    color: rgb(70, 70, 70);
    text-decoration: none;
    transition: 0.8s;
}


nav ul li:first-child {
    margin-top: 20px;
    margin-bottom: -20px;
    transform: rotate(0deg);
    font-weight: bold;
    font-size: 48px;
    color: black;
}

nav ul li:first-child a {
    color: black;

}

.konten {
    display: inline-block;
    width: auto;
    height: 100vh;
    background-image: url();
    background-size: cover !important;
    background-position-x: -25px;
    background: white;
    float: left;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 100px;
    right: 0px;
    color: white;
    border-top: 1px solid white;
}

/* konten */


.kontainer {
    width: 1155px;
    height: auto;
    background-color: white;
    box-sizing: border-box;
    margin: auto;

}

/* col 1 */
.kontainer .col1 {
    width: 800px;
    height: 100%;
    background-color: white;
    display: inline-block;
    float: left;
    box-sizing: border-box;
    padding: 50px;
    position: relative;
    /* overflow: scroll;
    overflow-x: hidden; */
}

.col1 p {
    display: block;
    font-size: 30px;
    font-style: normal;
    line-height: 56px;
    margin-bottom: 20px;
    text-align: left;
    color: rgba(119, 119, 119, 1);
    font-family: Vollkorn,
        Georgia,
        serif;
    height: 110px;
    width: 100%;
    position: relative;
    float: left;
}

.col1 p span.bighuruf {

    font-size: 120px;
    position: absolute;
    top: 32px;
    left: 0px;

}

span.textp {
    display: inline-block;
    font-size: 30px;
    font-style: normal;
    line-height: 56px;
    position: absolute;
    left: 92px;
}

span.lowertext {
    position: absolute;
    top: 108px;
}

.secondtext {
    display: block;
    margin-bottom: 20px;
    text-align: left;
    color: rgba(119, 119, 119, 120);
    font-family: Vollkorn,
        Georgia,
        serif;
    width: 100%;
    position: relative;
    float: left;
    padding-top: 30px;
}

.col1 h2 {

    font-size: 35px;
    line-height: 2.5em;
    margin-bottom: 20px;
    color: rgba(153, 153, 153, 100);
    font-family: 'Nunito',
        Helvetica,
        Arial,
        sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
    text-align: left;
}

.secondtext p {
    color: rgba(119, 119, 119, 100);
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 20px;
    text-align: left;
    height: auto;
}

.lowertext span {
    color: rgba(248, 66, 163, 100);
}








/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(187, 187, 187);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(136, 136, 136);
}


/* col 2 */
.kontainer .col2 {
    width: 355px;
    height: 100%;
    /* background-color: pink; */
    display: inline-block;
    position: fixed;
    float: left;
    box-sizing: border-box;
}

.col2 .img {
    width: 260px;
    height: 260px;
    background-image: url('src/img/clinging.jpg');
    background-size: cover;
    filter: grayscale(1);
    border-radius: 300px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.col2 .email {
    color: rgba(119, 119, 119, 100);
    font-size: 20px;
    line-height: 36px;
    margin-bottom: 20px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -65%);
}

.col2 ul {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.col2 ul li {
    margin: 0px;
    padding: 0px;
    width: 80px;
    height: 80px;
    margin: 0px 17.5px;
    display: inline-block;
    transition: 1s;
}


.col2 ul li i {
    float: left;
    width: 100%;
    height: 100%;
    font-size: 35px;
    text-align: center;
    line-height: 80px;
    color: rgb(173, 173, 173);
    cursor: pointer;
}

.kontainer2 {
    display: none;
}


@media (max-width : 1155px) {
    .kontainer {
        display: none;
    }

    .kontainer2 {
        display: block;
        width: 100%;
        height: 100%;
        padding: 5%;
        padding-top: 120px;
    }

    .kontainer2 span {
        color: rgba(248, 66, 163, 100);
    }

    .img2 {
        background-image: url(src/img/clinging.jpg);
        filter: grayscale(19);
        border-radius: 360px;
        width: 250px;
        height: 250px;
        background-size: cover;
        background-position: center top;
        margin: auto;
    }

    .email {
        color: rgba(119, 119, 119, 100);
        font-size: 20px;
        line-height: 36px;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 40px;
    }

    .kontainer2 ul {
        margin: 0px;
        padding: 0px;
        width: 300px;
        height: 80px;
        display: block;
        margin: auto;
        margin-bottom: 50px;
    }

    .kontainer2 ul li {
        margin: 0px;
        padding: 0px;
        width: 80px;
        height: 80px;
        margin: 0px 8px;
        display: inline-block;
    }


    .kontainer2 ul li i {
        float: left;
        width: 100%;
        height: 100%;
        font-size: 35px;
        text-align: center;
        line-height: 80px;
        color: rgb(173, 173, 173);
        cursor: pointer;
    }

    .kontainer2 p {
        font-size: 20px;
        font-style: normal;
        line-height: 56px;
        color: rgba(119, 119, 119, 100);
        margin-bottom: 40px;
        text-align-last: left;
        text-align: start;
    }

    .kontainer2 p:first-of-type {
        font-size: 30px;
    }

    .kontainer2 h2 {
        font-size: 32.5px;
        line-height: 2.5em;
        margin-bottom: 20px;
        color: rgba(153, 153, 153, 100);
        font-family: 'Nunito',
            Helvetica,
            Arial,
            sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 1em;
        text-align: left;
        margin-bottom: 20px;
    }
}
















/* end of konten */



.transition {
    position: fixed;
    z-index: 16;
    background-color: white;
    height: 100%;
    width: 0%;
    animation: transitionFadeOut 2.5s ease-out forwards;
}

/* hamburger */
.hamburger {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid black !important;
    position: absolute;
    z-index: 15;
    right: 25px;
    top: 25px;
    cursor: pointer;
    transition: 0s;
    opacity: 0;
}

.hamburger .line {
    display: block;
    width: 50%;
    height: 1px;
    background-color: black;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 25%;
    transition: 1s;
}

.line:first-of-type {
    top: 7px;
}

.line:nth-of-type(2) {
    opacity: 1;
    transition: 1s;
    top: 15px;
}

.line:last-of-type {
    top: 24px;
}


/* hamburger - frame - nav mobile*/
.nav-mobile {
    display: block;
    z-index: 14;
    position: fixed;
    left: 100%;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: white;
    display: none;
    height: 100vh;
    /* animation: swipeLeft 3s ease-out 2.5s forwards; */
}

.nav-mobile ul {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    position: absolute;
}

.nav-mobile ul li {
    list-style: none;
    margin-bottom: 15px;
    font-size: 21px;
    position: relative;
    color: rgba(0, 0, 0, .5);
    font-family: Europa, sans-serif;
    cursor: pointer;
    transition: .7s;
}

.nav-mobile ul li:hover {
    color: rgba(0, 0, 0, 1);
}

.nav-mobile ul li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -4px;
    left: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.nav-mobile ul li.active::after {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.nav-mobile ul li.active {
    color: rgba(0, 0, 0, 1);
}

.nav-trans {
    display: block;
    z-index: 15;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: white;
    transition: 0s;
}

.container {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    color: rgb(6, 3, 17);
    background-color: white;
}

.container h1 {
    display: block;
    width: 180px;
    height: 85px;
    text-align: center;
    padding-top: 30px;
    font-family: 'DM Sans',
        sans-serif;
    font-size: 30px;
    position: relative;
    font-weight: 500;
    position: absolute;
    left: 10px;
    opacity: 0;
    animation: comeOut 2s ease 2.25s forwards;
}

/* .container h1::after{
    content: '';
    position: absolute;
    left : 0px;
    right : 0px;
    bottom : 0px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, rgba(0, 0, 0, .4), rgba(0, 0, 0, 0.1));
    border-image-slice: 1;

} */

.boxc {}

.leftc {
    width: 50%;
    height: 80%;
    margin-top: 85px;

    margin-bottom: 10px;
    display: inline-block;
    position: absolute;
    left: 0px;
    right: 0px;
}

.leftc ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    margin-top: 30px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0%;
}

.leftc ul li {
    padding: 0px;
    margin: 0px;
    list-style: none;
    margin: 0px auto 18px;
    width: 90%;
    height: auto;
    color: rgba(0, 0, 0, .72);
    display: block;

}

.leftc ul li p {
    margin-bottom: 3px;
    font-size: 17px;
}

.leftc ul li .diagram {
    width: 99%;
    height: 20px;
    background: linear-gradient(to right, rgba(146, 146, 146, .2), rgba(146, 146, 146, 0.1));
    margin-top: 0px;
    border-top-left-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    position: relative;
}

/* diagram */
.leftc ul li:nth-of-type(1) .diagram::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 100%;
    bottom: 0px;
    border-top-left-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    background-color: rgb(19, 242, 198);
    animation: loadDiagram1 1.5s ease 2.5s forwards;
}

.leftc ul li:nth-of-type(2) .diagram::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 100%;
    bottom: 0px;
    border-top-left-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    background-color: rgb(19, 242, 198);
    animation: loadDiagram2 1.5s ease 2.5s forwards;
}

.leftc ul li:nth-of-type(3) .diagram::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 100%;
    bottom: 0px;
    border-top-left-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    background-color: rgb(19, 242, 198);
    animation: loadDiagram3 1.5s ease 2.5s forwards;
}

.leftc ul li:nth-of-type(4) .diagram::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 100%;
    bottom: 0px;
    border-top-left-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    background-color: rgb(19, 242, 198);
    animation: loadDiagram4 1.5s ease 2.5s forwards;
}

.leftc ul li:nth-of-type(5) .diagram::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 100%;
    bottom: 0px;
    border-top-left-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    background-color: rgb(19, 242, 198);
    animation: loadDiagram5 1.5s ease 2.5s forwards;
}

.leftc ul li:nth-of-type(6) .diagram::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 100%;
    bottom: 0px;
    border-top-left-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    background-color: rgb(19, 242, 198);
    animation: loadDiagram6 1.5s ease 2.5s forwards;
}

.leftc ul li:nth-of-type(7) .diagram::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 100%;
    bottom: 0px;
    border-top-left-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
    border-top-right-radius: 7.5px;
    border-bottom-right-radius: 7.5px;
    background-color: rgb(19, 242, 198);
    animation: loadDiagram7 1.5s ease 2.5s forwards;
}




.rightc {
    /*transition pane */
    position: absolute;
    right: 50%;
    left: 50%;
    top: 0px;
    bottom: 0px;
    width: auto;
    height: 100%;
    background-color: whitesmoke;
    transition: 0.5s;
}

.rightc2 {
    position: absolute;
    right: 0px;
    left: 50%;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
}

.panel {
    position: absolute;
    left: 50%;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

/*--------------- PANEL --------------  */
/*
    SETTINGS
*/
.panelChild {
    width: 100%;
    height: 100%;
    background-color: pink;
    display: none;
    transition-delay: 1s;
}

/* OWN PANEL*/
.panel1 {
    display: block;
    background-image: url('https://uploads-ssl.webflow.com/5945c0691ffdf51725f42d2f/59a014cafcf08500017d4c9b_1bgtablette2.jpg');
    background-position-x: -200px;
}

.panel2 {
    /* display: block; */
    background-image: url('https://i.stack.imgur.com/gRQf3.jpg');
    background-position-x: -200px;
}

.panel3 {
    /* display: block; */
    background-image: url('https://uploads-ssl.webflow.com/5945c0691ffdf51725f42d2f/59a014cafcf08500017d4c9b_1bgtablette2.jpg');
    background-position-x: -200px;
}

.panel4 {
    /* display: block; */
    background-image: url('https://uploads-ssl.webflow.com/5945c0691ffdf51725f42d2f/59a014cafcf08500017d4c9b_1bgtablette2.jpg');
    background-position-x: -200px;
}

.panel5 {
    /* display: block; */
    background-image: url('https://uploads-ssl.webflow.com/5945c0691ffdf51725f42d2f/59a014cafcf08500017d4c9b_1bgtablette2.jpg');
    background-position-x: -200px;
}

.panel6 {
    /* display: block; */
    background-image: url('https://uploads-ssl.webflow.com/5945c0691ffdf51725f42d2f/59a014cafcf08500017d4c9b_1bgtablette2.jpg');
    background-position-x: -200px;
}

.panel7 {
    /* display: block; */
    background-image: url('https://uploads-ssl.webflow.com/5945c0691ffdf51725f42d2f/59a014cafcf08500017d4c9b_1bgtablette2.jpg');
    background-position-x: -200px;
}

/* END OF PANEL SETTINGS */

.nav-mobile {
    display: none;
}








/* responsive */
@media (max-width : 991px) {
    nav {
        display: none;
    }

    body {
        overflow-y: auto;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .leftc ul li:last-child {
        margin-bottom: 30px;
    }



    .hamburger,
    .line {
        opacity: 1;
    }

    .nav-mobile {
        display: none;
    }

    .hamburger {
        border: 1px solid white;
    }

    .konten {
        left: 0px;
    }

    .centertext h1 {
        left: 8%;
    }

    .centertext p {
        max-width: 520px;
        float: right;
        font-size: 1.2em;
        line-height: 1.4em;
        font-weight: 300;
        max-height: 100px;
        position: absolute;
        padding-top: 20px;
        top: 52%;
        left: 9.5%;
    }

    .socmed {
        opacity: 0;
    }

    .rightc,
    .rightc2,
    .panel {
        display: none;
    }

    .leftc {
        width: 100%;
    }

}

@media (max-width : 545px) {}

@media (max-width : 685px) {


    .centertext h1 {
        max-width: 230px;
        font-size: 80px;
    }

    .centertext p {
        max-width: 520px;
        float: right;
        font-size: 1.2em;
        line-height: 1.4em;
        font-weight: 300;
        max-height: 100px;
        position: absolute;
        padding-top: 20px;
        top: 44%;
        left: 9.5%;
    }
}

@media (max-width : 478px) {

    .contact b,
    .contact p {
        display: inline-block;
        max-width: 300px;
        font-size: 14px;
    }

    .contact p {
        margin-right: -20px;
    }

    .konten h5 {
        margin-left: 22px;
    }


}

@media (max-width : 358px) {
    .centertext h1 {}
}

















/* list all animation */
@keyframes slideDown {
    0% {
        display: inline-block;
        opacity: 0.1;
        margin-top: 0px;
    }

    100% {
        opacity: 1;
        margin-top: 48px;
    }
}

@keyframes slideUp {
    0% {
        display: inline-block;
        opacity: 0.1;
        margin-bottom: -20px;
    }

    100% {
        opacity: 1;
        margin-bottom: 10px;
    }
}

@keyframes transitionFadeOut {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

@keyframes transitionFadeIn {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes swipeLeft {
    0% {
        top: 0px;
        left: 100%;
        right: 0px;
        bottom: 0px;
    }

    100% {
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
}

@keyframes swipeRight {


    0% {
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }

    100% {
        top: 0px;
        left: 100%;
        right: 0px;
        bottom: 0px;
    }
}

@keyframes swipeRightHalf {
    0% {
        right: 50%;
    }

    100% {
        right: 0px;
    }
}

@keyframes swipeLeftHalf {
    0% {
        right: 0px;
    }

    100% {
        right: 50%;
    }
}

@keyframes comeOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes loadDiagram1 {
    0% {
        right: 100%;
    }

    100% {
        right: 20%;
    }
}

@keyframes loadDiagram2 {
    0% {
        right: 100%;
    }

    100% {
        right: 35%;
    }
}

@keyframes loadDiagram3 {
    0% {
        right: 100%;
    }

    100% {
        right: 25%;
    }
}

@keyframes loadDiagram4 {
    0% {
        right: 100%;
    }

    100% {
        right: 50%;
    }
}

@keyframes loadDiagram5 {
    0% {
        right: 100%;
    }

    100% {
        right: 70%;
    }
}

@keyframes loadDiagram6 {
    0% {
        right: 100%;
    }

    100% {
        right: 40%;
    }
}

@keyframes loadDiagram7 {
    0% {
        right: 100%;
    }

    100% {
        right: 10%;
    }
}

@media (max-width : 530px){
    .kontainer2 p{
        font-size: 17px;
        line-height: 37px;
    }
    .kontainer2 p:first-of-type {
        font-size: 17px;
    }
    .kontainer2 h2{
        font-size: 27px;
        line-height: 45px;
    }
}