* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {}

body,
html {
    overflow: hidden;
}

nav {
    width: 7.5vw;
    min-width: 100px !important;
    height: 100vh;
    padding-top: 10px;
    background-color: white;
    display: inline-block;
    float: left;
    position: fixed;
    z-index: 99;
}

nav ul {
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    height: 50px;
    margin-top: 70px;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    font-size: 16px;
    font-family: Europa, sans-serif;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    color: rgba(146, 136, 136, .4);
    cursor: pointer;
}

nav ul li {
    color: rgba(146, 136, 136, .4);
    text-decoration: none;
    font-weight: bold;
}

nav ul li:nth-child(1) {
    color: rgb(70, 70, 70);
    text-decoration: none;
}

nav ul li:hover {
    color: rgb(70, 70, 70);
    text-decoration: none;
    -webkit-transition: 0.8s;
    transition: 0.8s;
}


nav ul li:first-child {
    margin-top: 20px;
    margin-bottom: -20px;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    font-weight: bold;
    font-size: 48px;
    color: black;
}

nav ul li:first-child a {
    color: black;

}

.konten {
    display: inline-block;
    width: auto;
    height: 100vh;
    background-image: url();
    background-size: cover !important;
    background-position-x: -25px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))),
        url("src/img/home.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("src/img/home.jpg");
    float: left;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 100px;
    right: 0px;
    color: white;
    border-top: 1px solid white;
}

.konten h5 {
    opacity: 0;
    margin: 48px;
    float: left;
    font-size: 19px;
    -webkit-animation: slideDown 3s ease 2.5s forwards;
            animation: slideDown 3s ease 2.5s forwards;
    z-index: 14;
    position: relative;
}

.socmed {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}

.konten .socmed a,
.konten .socmed i {
    opacity: 0;
    float: right;
    margin: 48px 12px;
    font-size: 22px;
    text-decoration: none;
    color: white;
    -webkit-animation: slideDown 3s ease 2.5s forwards;
            animation: slideDown 3s ease 2.5s forwards;
    z-index: 10;
}


.socmed a:first-child {
    margin-right: 60px;
}

.socmed i {
    width: 44px;
    height: 14px;
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-right: 20px !important;

}

.centertext {
    position: relative;
    height: 100%;
}

.dibungkusMas {
    width: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 38%;
    -webkit-transform: translateY(-38%);
            transform: translateY(-38%);
    height: auto;
}

.centertext h1 {
    font-size: 0;
    max-width: 600px;
    display: block;
    font-family: Europa, sans-serif;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.9);
    margin-left: 70px;
    /* 
    position: absolute;
    top: 27%;
    left: 12%; */
    margin-bottom: 0px;
    position: relative;
}

.hrNew {
    display: block;
    width: 0%;
    max-width: 310px;
    height: 1px;
    background-color: white;
    margin-left: 170px;
    -webkit-animation: slideToRight 2s ease-out 3s forwards;
            animation: slideToRight 2s ease-out 3s forwards;
}



.centertext h1 span {
    display: inline-block;
    font-size: 120px;
    font-family: Europa,
        sans-serif;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0.9);
    margin: 0px;
    padding: 0px;
    letter-spacing: 7px;
    font-weight: 700;
    opacity: 0;
}

.centertext h1 span:nth-of-type(1) {
    -webkit-animation: comingText 2s ease 2s forwards;
            animation: comingText 2s ease 2s forwards;
}

.centertext h1 span:nth-of-type(2) {
    -webkit-animation: comingText 2s ease 2.1s forwards;
            animation: comingText 2s ease 2.1s forwards;
}

.centertext h1 span:nth-of-type(3) {
    -webkit-animation: comingText 2s ease 2.2s forwards;
            animation: comingText 2s ease 2.2s forwards;
}

.centertext h1 span:nth-of-type(4) {
    -webkit-animation: comingText 2s ease 2.3s forwards;
            animation: comingText 2s ease 2.3s forwards;
}

.centertext h1 span:nth-of-type(5) {
    -webkit-animation: comingText 2s ease 2.4s forwards;
            animation: comingText 2s ease 2.4s forwards;
}

.centertext p {
    display: block;
    width: 100%;
    max-width: 720px;
    font-size: 1.5em;
    line-height: 1.4em;
    font-weight: 300;
    /* position: absolute; */
    padding-top: 20px;
    /* top: 52%;
    left: 20%; */
    position: relative;
    margin-bottom: 0px;
    margin-left: 110px;
    opacity: 0;
    position: absolute;
    -webkit-animation: toTop 2s ease 3.2s forwards;
            animation: toTop 2s ease 3.2s forwards;
    
    
}

.centertext p::before {
    /* content: '';
    width: 0%;
    height: 1px;
    background-color: white;
    position: absolute;
    z-index: 5;
    display: inline-block;
    top: 0px;
    animation: slideToRight 2s ease-out 2.4s forwards; */
}

.centertext h1::after {
    content: '';
    width: 0px;
    height: 1px;
    background-color: white;
    position: absolute;
    z-index: 5;
    display: inline-block;
    bottom: 0px;
    left: 0px;
    opacity: 0;
}



.pbungkus {
    max-width: 800px;
    min-width: 100px;
    height: auto;
    margin-left: 6.5%;
    margin-right: 6.5%;
    position: relative;
}



.centertext hr {
    z-index: 2;
    position: relative;
    color: white;
    background-color: white;
    max-width: 285px;
    margin: auto;
    margin-bottom: 25px;

}

.hrBungkus {
    max-width: 70%;
}

.contact {
    position: absolute;
    bottom: 10px;
    right: 0px;
    -webkit-animation: slideUp 3s ease 2.5s forwards;
            animation: slideUp 3s ease 2.5s forwards;
    opacity: 0;
}

.contact span {
    display: inline-block;
    float: right;
    margin-right: 50px;
    vertical-align: bottom;
}


.transition {
    position: fixed;
    z-index: 16;
    background-color: white;
    height: 100%;
    width: 0%;
    animation: transitionFadeOut 2.5s ease-out forwards;
}

/* hamburger */
.hamburger {
    display: block;
    width: 50px;
    height: 50px;
    border: 0px solid white;
    position: absolute;
    z-index: 15;
    right: 25px;
    top: 25px;
    cursor: pointer;
    -webkit-transition: 0s;
    transition: 0s;
    opacity: 0;
}

.hamburger .line {
    display: block;
    width: 50%;
    height: 1px;
    background-color: white;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 25%;
    -webkit-transition: 1s;
    transition: 1s;
}

.line:first-of-type {
    top: 7px;
}

.line:nth-of-type(2) {
    opacity: 1;
    -webkit-transition: 1s;
    transition: 1s;
    top: 15px;
}

.line:last-of-type {
    top: 24px;
}


/* hamburger - frame - nav mobile*/
.nav-mobile {
    display: block;
    z-index: 14;
    position: absolute;
    left: 100%;
    right: 0px;
    top: 0px;
    bottom: 0px;
    height: 100vh;
    background-color: white;
    display: none;
    /* animation: swipeLeft 3s ease-out 2.5s forwards; */
}

.nav-mobile ul {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    list-style: none;
    position: absolute;
}

.nav-mobile ul li {
    list-style: none;
    margin-bottom: 15px;
    font-size: 21px;
    position: relative;
    color: rgba(0, 0, 0, .5);
    font-family: Europa, sans-serif;
    cursor: pointer;
    -webkit-transition: .7s;
    transition: .7s;
}

.nav-mobile ul li:hover {
    color: rgba(0, 0, 0, 1);
}

.nav-mobile ul li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -4px;
    left: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.nav-mobile ul li.active::after {
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.nav-mobile ul li.active {
    color: rgba(0, 0, 0, 1);
}

.nav-trans {
    display: block;
    z-index: 15;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: 0s;
    transition: 0s;
}






/* responsive */
@media (max-width : 991px) {
    nav {
        display: none;
    }

    .hamburger,
    .line {
        opacity: 1;
    }

    .nav-mobile {
        display: none;
    }

    .hamburger {
        border: 1px solid white;
    }

    .konten {
        left: 0px;
        right: 0px;
    }



    .centertext p {
        max-width: 720px;
        font-size: 1.2em;
        line-height: 1.4em;
        font-weight: 300;
        max-height: 100px;
        /* position: absolute; */
        padding-top: 20px;
        /* top: 52%;
        left: 9.5%;
        right: 9.5%; */
        margin-bottom: 0px;
    }

    .socmed {
        opacity: 0;
    }

}

@media (max-width : 545px) {}

@media (max-width : 685px) {




    .centertext p {
        max-width: 720px;
        font-size: 1.2em;
        line-height: 1.4em;
        font-weight: 300;
        max-height: 100px;
        /* position: absolute; */
        padding-top: 20px;
        /* top: 44%;
        /* left: 9.5%; */
        /* right: 9.5%; */
    }
}

@media (max-width : 926px) {
    .centertext h1 {
        margin-left: 36px;
    }

    .centertext p {
        margin-left: 0px;
    }

    .hrNew {
        margin-left: 45px;
    }


}

@media (max-width : 720px) {
    .centertext h1 {}

    .centertext h1 span {
        font-size: 100px;
    }

    .hrNew {

        max-width: 260px;
    }

    .centertext p {
        margin-left: 0px;
    }
}

@media (max-width : 659px) {
    .centertext p::before {
        opacity: 0;
    }



    .centertext p {
        font-size: 19px;
    }

    .centertext h1::after {
        content: '';
        width: 0px;
        height: 1px;
        background-color: white;
        position: absolute;
        z-index: 5;
        display: inline-block;
        bottom: 0px;
        left: 0px;
        opacity: 0;
        /* animation: slideToRight240 2s 2.4s forwards; */
    }


}

@media(max-width : 600px) {
    .centertext h1 {
        margin-left: 6.5%;
    }

    .hrNew {
        max-width: 190px;
        margin-left: 6.5%;
        margin-right: 6.5%;
    }

    .centertext h1 span {
        font-size: 63px;
    }

    .centertext h1::after {
        width: 200px;
    }

    .centertext p {
        padding-top: 7px;
    }
}

@media (max-width : 478px) {

    .contact b,
    .contact p {
        display: inline-block;
        max-width: 300px;
        font-size: 14px;
    }


    .contact p {
        margin-right: -20px;
    }

    .konten h5 {
        margin-left: 22px;
    }


}

@media (max-width : 358px) {}

















/* list all animation */
@-webkit-keyframes slideDown {
    0% {
        display: inline-block;
        opacity: 0.1;
        margin-top: 0px;
    }

    100% {
        opacity: 1;
        margin-top: 48px;
    }
}
@keyframes slideDown {
    0% {
        display: inline-block;
        opacity: 0.1;
        margin-top: 0px;
    }

    100% {
        opacity: 1;
        margin-top: 48px;
    }
}

@-webkit-keyframes slideUp {
    0% {
        display: inline-block;
        opacity: 0.1;
        margin-bottom: -20px;
    }

    100% {
        opacity: 1;
        margin-bottom: 10px;
    }
}

@keyframes slideUp {
    0% {
        display: inline-block;
        opacity: 0.1;
        margin-bottom: -20px;
    }

    100% {
        opacity: 1;
        margin-bottom: 10px;
    }
}


@keyframes transitionFadeOut {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

@keyframes transitionFadeIn {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@-webkit-keyframes swipeLeft {
    0% {
        top: 0px;
        left: 100%;
        right: 0px;
        bottom: 0px;
    }

    100% {
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 100vh;
    }
}

@keyframes swipeLeft {
    0% {
        top: 0px;
        left: 100%;
        right: 0px;
        bottom: 0px;
    }

    100% {
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        height: 100vh;
    }
}

@-webkit-keyframes swipeRight {


    0% {
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }

    100% {
        top: 0px;
        left: 100%;
        right: 0px;
        bottom: 0px;
    }
}

@keyframes swipeRight {


    0% {
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }

    100% {
        top: 0px;
        left: 100%;
        right: 0px;
        bottom: 0px;
    }
}

@-webkit-keyframes comingText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes comingText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes slideToRight {
    0% {
        width: 0px;
    }

    100% {
        width: 100%;
    }
}

@keyframes slideToRight {
    0% {
        width: 0px;
    }

    100% {
        width: 100%;
    }
}

@-webkit-keyframes slideToRight240 {
    0% {
        width: 0px;
        opacity: 0;
    }

    100% {
        width: 280px;
        opacity: 1;
    }
}

@keyframes slideToRight240 {
    0% {
        width: 0px;
        opacity: 0;
    }

    100% {
        width: 280px;
        opacity: 1;
    }
}

@-webkit-keyframes toTop {
    0% {
        margin-top : 25px;
        opacity: 0;
    }

    100% {
        margin-top : 0px;
        opacity: 1;
    }
}

@keyframes toTop {
    0% {
        margin-top : 25px;
        opacity: 0;
    }

    100% {
        margin-top : 0px;
        opacity: 1;
    }
}